 .u-section-3 {
  background-image: linear-gradient(#808080, #808080);
}

.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}.u-section-1 .u-sheet-1 {
  min-height: 567px;
}

.u-section-1 .u-list-1 {
  width: 447px;
  margin: 0 auto 0 -80px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/image1.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 18px 50px 0 65px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 60px 0;
  padding: 10px 90px 10px 89px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 8px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 710px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 492px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 778px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }
}